<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TailBank.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>721DA0EE29945C6900CB38E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>721DA10C299550C900CB38E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72410828299BD7F500129804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72410877299BEFB800129804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7241088C299BEFC900129804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724AB14429928352000616A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724AB14C29928352000616A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725291B12991B17D00AC9C35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725291CC2991B27B00AC9C35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B818AC2992E71F0007C070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B818B42992E71F0007C070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B8EB25299AD08F00D69F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B8EB2D299AD08F00D69F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
